<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="TestLogin">
        <classes>
            <class name="mvp.cc.testing.CCTesting.TestExecutor"></class>
        </classes>
    </test> <!-- Test -->
    <!--<test thread-count="5" name="TestLogin">-->
    <!--<classes>-->
    <!--<class name="mvp.cc.testing.CCTesting.Test2"></class>-->
    <!--</classes>-->
    <!--</test> &lt;!&ndash; Test &ndash;&gt;-->
    <!--<test thread-count="5" name="Unverified Claim">-->
    <!--<classes>-->
    <!--<class name="mvp.cc.testing.CCTesting.Test2"></class>-->
    <!--</classes>-->
    <!--</test> &lt;!&ndash; Test &ndash;&gt;-->
</suite> <!-- Suite -->